* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #323238;
  --seconds-color: #fff;
  --bg-color: #E1E1E6;
  --body-color: #fff;
  --btn-Disabled: #E1E1E6;


  /*Nature*/
  --color-firstNature: #00ff87;
  --color-secondNature: #fff;

  --color-firstRain: #60efff;
  --color-secondRain: #fff;

  --color-firstHouse: #f7ba2c;
  --color-secondHouse: #fff;

  --color-firstFire: #f9b16e;
  --color-secondFire: #fff;




  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-color);
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(88rem, 90vw);
}

#timerContent {
  display: grid;
  place-items: center;
}

#timerContent div + div {
  margin-top: 2.2rem;
}


#timer {
  display: flex;
  color: var(--primary-color);
  font-size: clamp(6rem, 8.6rem + 6vw, 12.6rem);
}

#controls {
  display: flex;
  gap: 4rem;
}

#soundsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition:  .3s;
  position: relative;
}

button:hover {
  transform: scale(0.9);
}

#controls button svg { 
  width: clamp(3rem, 2rem + 4vw, 4.8rem);
}

#soundsContent button svg {
  width: clamp(6rem, 8.6rem + 6vw, 12.6rem);
}

.btnColorDisabled svg path {
  fill: var(--btn-Disabled);
}


input{
  -webkit-appearance: none;
  width: 11rem;
  height: 0.5rem;
  border-radius: 10px;
  background: var(--primary-color);
  margin-top: 3.8rem;
}

.natureVolume,
.rainVolume,
.houseVolume,
.fireVolume {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 9rem;
  bottom: 20%;
  cursor: pointer;
}


button input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  background: var(--primary-color);
  border-radius: 100%;
}

.buttonMode {
  position: absolute;
  right: 3rem;
  top: 3rem;
}


.hide {
  display: none;
}

.nightMode {
  background-color: var(--primary-color);
}

.textNightMode {
  color: #fff;
}

.allButtonsColor  {
  fill: var(--primary-color);
}




@media (max-width: 950px) {
  main {
    
  }
}

@media (max-width:720px ) {
  main {
    flex-direction: column;
    gap: 5rem;
  }

}




/*Animations-colors*/


.activeNature svg path:nth-child(1) {
  fill: var(--color-firstNature);
}
.activeNature svg path:nth-child(2) {
  fill: var(--color-secondNature);
}




.activeRain svg path:nth-child(1) {
  fill: var(--color-firstRain);
}
.activeRain svg path:nth-child(2) {
  fill: var(--color-secondRain);

}



.activeHouse svg path:nth-child(1) {
  fill: var(--color-firstHouse);
}
.activeHouse svg path:nth-child(2) {
  fill: var(--color-secondHouse);
}


.activeFire svg path:nth-child(1) {
  fill: var(--color-firstFire);
}
.activeFire svg path:nth-child(2) {
  fill: var(--color-secondFire);
}

